<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">

  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31"> 
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-secondary">
              <div class="card-header row custome">
                <div class="col-md-8">
                  <h3 class="card-title">Equipment Inventory Module </h3>

                </div> 
            <div class="col-md-4">
              <button class="btn btn-block btn button-login" (click)="viewAddInventory(addinventoryModal)">
                New Equipment</button></div>

              </div>
              <!-- /.card-header -->
              <div class="card-body">

                  <div>
                      <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
                      <table class="table table-bordered table-condensed" *ngIf="stockData;" datatable
                          [dtOptions]="dtOptions" width="100%">
                          <thead>
                              <tr>
                                  <th>S/N</th>
                                  <th>Equipment Name</th>
                                  <th>itemNumber</th>
                                  <th>ID Tag</th>
                                  <th>Condition</th>    
                                  <th>Location</th>    
                                  <th>Model No</th>    
                                  <th>Serial No</th>    
                                  <th>Purchase Date</th>    
                                  <th>stockQty</th>    
                                  <th>Unit stockQty</th>    
                                  <th>reorderLevel</th>    
                                  <th>Quantity</th>     
                                  <th>Warranty</th>    
                                  <th>Discontinued</th>    
                                  <th  >Details</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let mydata of stockData; index as i">
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ mydata.itemName | titlecase }}</td>
                                  <td>{{ mydata.itemNumber  }}</td>
                                  <td>{{ mydata.dateOfLastOrder  }}</td>
                                  <td>{{ mydata.condition}}</td>  
                                  <td>{{ mydata.location}}</td>  
                                  <td>{{ mydata.weight}}</td>  
                                  <td>{{ mydata.totalValue}}</td>  
                                  <td>{{ mydata.expiryDate}}</td>  
                                  <td>{{ mydata.stockQty}}</td>  
                                  <td>{{ mydata.unitCost}}</td>  
                                  <td>{{ mydata.reorderLevel}}</td>  
                                  <td>{{ mydata.quantity}}</td>  
                                  <td>{{ mydata.quantityLeft}}</td>  
                                  <td>{{ mydata.quantityUsed }}</td>  
                                  <td>{{ mydata.itemDiscontinued}}</td>  
                                  <td> 
                                    <button title="Edit" class="btn btn-sm btn-outline-primary"
                                    (click)="viewEditInventory(editinventoryModal, mydata)"><i class="nav-icon fas fa-edit"></i>
                                    </button> 
                                    <button title="Delete" (click)="deleteInventory(mydata.id)" class="btn btn-sm btn-outline-danger"
                                    ><i class="nav-icon fas fa-trash-alt"></i>
                                    </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <!-- <button type="submit" (click)="forwardSchedule(schedulemodal)" class="btn btn button-login">Forward
                      Schedule</button> -->
              </div>
          </div>

      </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<ng-template #addinventoryModal let-modal >
  <div   class="validate-form mt-4 mb-5">
    <div class="card-header">
      <h4 class=" bold-black"> Add Equipment</h4>

    </div> 

    <div class="m-4"  >
      <form [formGroup]="inventoryForm" (ngSubmit)="onSubmitInventory(inventoryForm.value)">
        <div class="row mt-4">
          <div class="form-group mb-2 col-md-4">
            <label>Equipment Name</label>
            <input type="text" class="form-control" placeholder="Stock Name" formControlName="itemName"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.itemName.errors }">
             
              <div *ngIf="submitted &amp;&amp; inventoryForm.controls.itemName.errors" class="text-danger validation-error">
                <div *ngIf="inventoryForm.controls.itemName.errors.required">Equipment Name is required</div> 
              </div>
          </div>  
          <div class="form-group mb-2 col-md-8">
            <label>itemNumber</label>
            <input type="text" class="form-control" placeholder="Stock Number" formControlName="itemNumber"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.itemNumber.errors }">
             
              <div *ngIf="submitted &amp;&amp; inventoryForm.controls.itemNumber.errors" class="text-danger validation-error">
                <div *ngIf="inventoryForm.controls.itemNumber.errors.required">itemNumber is required</div> 
              </div>
          </div> 
           
            <div class="form-group mb-2 mt-4 col-md-4">
            <label>ID Tag</label>
            <input type="text" class="form-control" placeholder="ID Tag" formControlName="dateOfLastOrder"  
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.dateOfLastOrder.errors }"> 
               
                <div *ngIf="submitted &amp;&amp; inventoryForm.controls.dateOfLastOrder.errors" class="text-danger validation-error">
                  <div *ngIf="inventoryForm.controls.dateOfLastOrder.errors.required">ID Tag is required</div> 
                </div>
            </div>
            <div class="form-group mb-2 mt-4 col-md-4">
            <label>Location</label>
            <input type="text" class="form-control" placeholder="Location" formControlName="location"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.location.errors }">
               
                <div *ngIf="submitted &amp;&amp; inventoryForm.controls.location.errors" class="text-danger validation-error">
                  <div *ngIf="inventoryForm.controls.location.errors.required">Location is required</div> 
                </div>
            </div>  
            <div class="form-group mb-2 mt-4 col-md-4">
            <label>reorderLevel</label>
            <input type="text" class="form-control" placeholder="reorderLevel" formControlName="reorderLevel"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.reorderLevel.errors }">
               
                <div *ngIf="submitted &amp;&amp; inventoryForm.controls.reorderLevel.errors" class="text-danger validation-error">
                  <div *ngIf="inventoryForm.controls.reorderLevel.errors.required">reorderLevel is required</div> 
                </div>
            </div> 
             
              <div class="form-group mb-2 mt-4 col-md-4">
            <label>Purchase Date</label>
            <input type="date" class="form-control" placeholder="Purchase Date" formControlName="expiryDate"  
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.expiryDate.errors }"> 
                 
                  <div *ngIf="submitted &amp;&amp; inventoryForm.controls.expiryDate.errors" class="text-danger validation-error">
                    <div *ngIf="inventoryForm.controls.expiryDate.errors.required">Purchase Date is required</div> 
                  </div>
              </div>
              <div class="form-group mb-2 mt-4 col-md-4">
            <label>Warranty Expiration</label>
            <input type="date" class="form-control" placeholder="Warranty Expiration" formControlName="quantityUsed"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.quantityUsed.errors }">
                 
                  <div *ngIf="submitted &amp;&amp; inventoryForm.controls.quantityUsed.errors" class="text-danger validation-error">
                    <div *ngIf="inventoryForm.controls.quantityUsed.errors.required">Warranty Expiration is required</div> 
                  </div>
              </div>  
              <div class="form-group mb-2 mt-4 col-md-4">
            <label>stockQty</label>
            <input type="number" class="form-control" placeholder="stockQty" formControlName="stockQty"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.stockQty.errors }">
                 
                  <div *ngIf="submitted &amp;&amp; inventoryForm.controls.stockQty.errors" class="text-danger validation-error">
                    <div *ngIf="inventoryForm.controls.stockQty.errors.required">stockQty is required</div> 
                  </div>
              </div> 
               
                <div class="form-group mb-2 mt-4 col-md-4">
            <label>Unit stockQty</label>
            <input type="number" class="form-control" placeholder="Unit stockQty" formControlName="unitCost"  
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.unitCost.errors }"> 
                   
                    <div *ngIf="submitted &amp;&amp; inventoryForm.controls.unitCost.errors" class="text-danger validation-error">
                      <div *ngIf="inventoryForm.controls.unitCost.errors.required">Unit stockQty is required</div> 
                    </div>
                </div>
                <div class="form-group mb-2 mt-4 col-md-8">
            <label>Condition</label>
            <input type="text" class="form-control" placeholder="Condition" formControlName="condition"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.condition.errors }">
                   
                    <div *ngIf="submitted &amp;&amp; inventoryForm.controls.condition.errors" class="text-danger validation-error">
                      <div *ngIf="inventoryForm.controls.condition.errors.required">Condition is required</div> 
                    </div>
                </div>  
                <div class="form-group mb-2 mt-4 col-md-4">
            <label>Quantity</label>
            <input type="number" class="form-control" placeholder="Quantity" formControlName="quantity"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.quantity.errors }">
                   
                    <div *ngIf="submitted &amp;&amp; inventoryForm.controls.quantity.errors" class="text-danger validation-error">
                      <div *ngIf="inventoryForm.controls.quantity.errors.required">Quantity is required</div> 
                    </div>
                </div> 
                 
                  <div class="form-group mb-2 mt-4 col-md-4">
            <label>Model Number</label>
            <input type="text" class="form-control" placeholder="Model Number" formControlName="weight"  
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.weight.errors }"> 
                     
                      <div *ngIf="submitted &amp;&amp; inventoryForm.controls.weight.errors" class="text-danger validation-error">
                        <div *ngIf="inventoryForm.controls.weight.errors.required">Model Number is required</div> 
                      </div>
                  </div>
                  <div class="form-group mb-2 mt-4 col-md-4">
            <label>Serial Number</label>
            <input type="text" class="form-control" placeholder="Serial Number" formControlName="totalValue"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.totalValue.errors }">
                     
                      <div *ngIf="submitted &amp;&amp; inventoryForm.controls.totalValue.errors" class="text-danger validation-error">
                        <div *ngIf="inventoryForm.controls.totalValue.errors.required">Serial Number is required</div> 
                      </div>
                  </div>  
                  <div class="form-group mb-2 mt-4 col-md-4">
            <label>Photo Link</label>
            <input type="text" class="form-control" placeholder="Photo Link" formControlName="photoLink"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.photoLink.errors }">
                     
                      <div *ngIf="submitted &amp;&amp; inventoryForm.controls.photoLink.errors" class="text-danger validation-error">
                        <div *ngIf="inventoryForm.controls.photoLink.errors.required">Photo Link is required</div> 
                      </div>
                  </div> 
                   
                    <div class="form-group mb-2 mt-4 col-md-4">
            <label>Discontinued</label>
            <select type="text" class="form-control" placeholder="Discontinued" formControlName="itemDiscontinued"  
                        [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.itemDiscontinued.errors }"> 
                        <option  value="">Select option</option> 
                        <option [value]="false">FALSE</option> 
                        <option [value]="true">TRUE</option> 
                      </select>
                        <div *ngIf="submitted &amp;&amp; inventoryForm.controls.itemDiscontinued.errors" class="text-danger validation-error">
                          <div *ngIf="inventoryForm.controls.itemDiscontinued.errors.required">Discontinued is required</div> 
                        </div>
                    </div>
            
                    
                  </div>
                  <div class=' justify-content-center d-flex'>
                    <button class="btn button-login " >
                      Submit
                    </button>
       
                </div>
      </form>

    </div> 
  </div>
</ng-template>


<ng-template #editinventoryModal let-modal >
  <div   class="validate-form mt-4 mb-5">
    <div class="card-header">
      <h4 class=" bold-black"> Edit Equipment</h4>

    </div> 

    <div class="m-4"  >
      <form [formGroup]="inventoryForm" (ngSubmit)="onUpdateInventory(inventoryForm.value)">
        <div class="row mt-4">
          <div class="form-group mb-2 col-md-4">
            <label>Equipment Name</label>
            <input type="text" class="form-control" placeholder="Equipment Name" formControlName="itemName"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.itemName.errors }">
             
              <div *ngIf="submitted &amp;&amp; inventoryForm.controls.itemName.errors" class="text-danger validation-error">
                <div *ngIf="inventoryForm.controls.itemName.errors.required">Equipment Name is required</div> 
              </div>
          </div>  
          <div class="form-group mb-2 col-md-8">
            <label>itemNumber</label>
            <input type="text" class="form-control" placeholder="itemNumber" formControlName="itemNumber"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.itemNumber.errors }">
             
              <div *ngIf="submitted &amp;&amp; inventoryForm.controls.itemNumber.errors" class="text-danger validation-error">
                <div *ngIf="inventoryForm.controls.itemNumber.errors.required">itemNumber is required</div> 
              </div>
          </div> 
           
            <div class="form-group mb-2 mt-4 col-md-4">
            <label>ID Tag</label>
            <input type="text" class="form-control" placeholder="ID Tag" formControlName="dateOfLastOrder"  
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.dateOfLastOrder.errors }"> 
               
                <div *ngIf="submitted &amp;&amp; inventoryForm.controls.dateOfLastOrder.errors" class="text-danger validation-error">
                  <div *ngIf="inventoryForm.controls.dateOfLastOrder.errors.required">ID Tag is required</div> 
                </div>
            </div>
            <div class="form-group mb-2 mt-4 col-md-4">
            <label>Location</label>
            <input type="text" class="form-control" placeholder="Location" formControlName="location"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.location.errors }">
               
                <div *ngIf="submitted &amp;&amp; inventoryForm.controls.location.errors" class="text-danger validation-error">
                  <div *ngIf="inventoryForm.controls.location.errors.required">Location is required</div> 
                </div>
            </div>  
            <div class="form-group mb-2 mt-4 col-md-4">
            <label>reorderLevel</label>
            <input type="text" class="form-control" placeholder="reorderLevel" formControlName="reorderLevel"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.reorderLevel.errors }">
               
                <div *ngIf="submitted &amp;&amp; inventoryForm.controls.reorderLevel.errors" class="text-danger validation-error">
                  <div *ngIf="inventoryForm.controls.reorderLevel.errors.required">reorderLevel is required</div> 
                </div>
            </div> 
             
              <div class="form-group mb-2 mt-4 col-md-4">
            <label>Purchase Date</label>
            <input type="date" class="form-control" placeholder="Purchase Date" formControlName="expiryDate"  
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.expiryDate.errors }"> 
                 
                  <div *ngIf="submitted &amp;&amp; inventoryForm.controls.expiryDate.errors" class="text-danger validation-error">
                    <div *ngIf="inventoryForm.controls.expiryDate.errors.required">Purchase Date is required</div> 
                  </div>
              </div>
              <div class="form-group mb-2 mt-4 col-md-4">
            <label>Warranty Expiration</label>
            <input type="date" class="form-control" placeholder="Warranty Expiration" formControlName="quantityUsed"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.quantityUsed.errors }">
                 
                  <div *ngIf="submitted &amp;&amp; inventoryForm.controls.quantityUsed.errors" class="text-danger validation-error">
                    <div *ngIf="inventoryForm.controls.quantityUsed.errors.required">Warranty Expiration is required</div> 
                  </div>
              </div>  
              <div class="form-group mb-2 mt-4 col-md-4">
            <label>stockQty</label>
            <input type="number" class="form-control" placeholder="stockQty" formControlName="stockQty"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.stockQty.errors }">
                 
                  <div *ngIf="submitted &amp;&amp; inventoryForm.controls.stockQty.errors" class="text-danger validation-error">
                    <div *ngIf="inventoryForm.controls.stockQty.errors.required">stockQty is required</div> 
                  </div>
              </div> 
               
                <div class="form-group mb-2 mt-4 col-md-4">
            <label>Unit stockQty</label>
            <input type="number" class="form-control" placeholder="Unit stockQty" formControlName="unitCost"  
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.unitCost.errors }"> 
                   
                    <div *ngIf="submitted &amp;&amp; inventoryForm.controls.unitCost.errors" class="text-danger validation-error">
                      <div *ngIf="inventoryForm.controls.unitCost.errors.required">Unit stockQty is required</div> 
                    </div>
                </div>
                <div class="form-group mb-2 mt-4 col-md-8">
            <label>Condition</label>
            <input type="text" class="form-control" placeholder="Condition" formControlName="condition"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.condition.errors }">
                   
                    <div *ngIf="submitted &amp;&amp; inventoryForm.controls.condition.errors" class="text-danger validation-error">
                      <div *ngIf="inventoryForm.controls.condition.errors.required">Condition is required</div> 
                    </div>
                </div>  
                <div class="form-group mb-2 mt-4 col-md-4">
            <label>Quantity</label>
            <input type="number" class="form-control" placeholder="Quantity" formControlName="quantity"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.quantity.errors }">
                   
                    <div *ngIf="submitted &amp;&amp; inventoryForm.controls.quantity.errors" class="text-danger validation-error">
                      <div *ngIf="inventoryForm.controls.quantity.errors.required">Quantity is required</div> 
                    </div>
                </div> 
                 
                  <div class="form-group mb-2 mt-4 col-md-4">
            <label>Model Number</label>
            <input type="text" class="form-control" placeholder="Model Number" formControlName="weight"  
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.weight.errors }"> 
                     
                      <div *ngIf="submitted &amp;&amp; inventoryForm.controls.weight.errors" class="text-danger validation-error">
                        <div *ngIf="inventoryForm.controls.weight.errors.required">Model Number is required</div> 
                      </div>
                  </div>
                  <div class="form-group mb-2 mt-4 col-md-4">
            <label>Serial Number</label>
            <input type="text" class="form-control" placeholder="Serial Number" formControlName="totalValue"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.totalValue.errors }">
                     
                      <div *ngIf="submitted &amp;&amp; inventoryForm.controls.totalValue.errors" class="text-danger validation-error">
                        <div *ngIf="inventoryForm.controls.totalValue.errors.required">Serial Number is required</div> 
                      </div>
                  </div>  
                  <div class="form-group mb-2 mt-4 col-md-4">
            <label>Photo Link</label>
            <input type="text" class="form-control" placeholder="Photo Link" formControlName="photoLink"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.photoLink.errors }">
                     
                      <div *ngIf="submitted &amp;&amp; inventoryForm.controls.photoLink.errors" class="text-danger validation-error">
                        <div *ngIf="inventoryForm.controls.photoLink.errors.required">Photo Link is required</div> 
                      </div>
                  </div> 
                   
                    <div class="form-group mb-2 mt-4 col-md-4">
            <label>Discontinued</label>
            <select type="text" class="form-control" placeholder="Discontinued" formControlName="itemDiscontinued"  
                        [ngClass]="{ 'is-invalid': submitted &amp;&amp; inventoryForm.controls.itemDiscontinued.errors }"> 
                        <option  value="">Select option</option> 
                        <option [value]="false">FALSE</option> 
                        <option [value]="true">TRUE</option> 
                      </select>
                        <div *ngIf="submitted &amp;&amp; inventoryForm.controls.itemDiscontinued.errors" class="text-danger validation-error">
                          <div *ngIf="inventoryForm.controls.itemDiscontinued.errors.required">Discontinued is required</div> 
                        </div>
                    </div>
            
                    
                  </div>
                  <div class=' justify-content-center d-flex'>
                    <button class="btn button-login mt-4" >
                      Submit
                    </button>
       
                </div>
      </form>

    </div> 
  </div>
</ng-template>