<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" data-select2-id="32">
        <div class="container-fluid" data-select2-id="31">
            <flash-messages></flash-messages>
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-secondary">
                <div class="card-header custome">
                    <h3 class="card-title">Monthly Remittance Employees</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div *ngIf="showListOfEmployees" class="over-auto">
                        <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
                        <table class="table table-bordered table-condensed" *ngIf="employeesData;" datatable
                            [dtOptions]="dtOptions" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Tax Payer ID</th>
                                    <th>Full Name</th>
                                    <th>Designation</th>
                                    <th>Gross Income</th>
                                    <!-- <th>Email</th> -->
                                    <th>Tax Year</th>
                                    <th>Phone</th>
                                    <th>Pension</th>
                                    <th>NHIS</th>
                                    <th>NHF</th>
                                    <th>Date Created</th>
                                    <th>Details</th>
                                    <th *ngIf="showEditEmployee">View</th>
                                    <th *ngIf="showDeleteEmployee">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mydata of employeesData; index as i">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ mydata.taxpayer_id}}</td>
                                    <td>{{ mydata.first_name | titlecase}} {{ mydata.last_name | titlecase}}</td>

                                    <td>{{ mydata.designation }}</td>
                                    <td>{{ mydata.gross_income | number }}</td>
                                    <!-- <td>{{ mydata.email }}</td> -->
                                    <td>{{ mydata.tax_year }}</td>
                                    <td>{{ mydata.phone }}</td>
                                    <td>{{ mydata.pension | number}}</td>
                                    <td>{{ mydata.nhis | number }}</td>
                                    <td>{{ mydata.nhf | number }}</td>
                                    <td>{{ mydata.created_at | date }}</td>

                                    <td><button class="btn btn-sm btn-outline-primary"
                                        (click)="viewEmployee(mymodal, mydata)"><i class="nav-icon fas fa-eye"></i>
                                            View</button></td>

                                    <td *ngIf="showEditEmployee"><button class="btn btn-sm btn-outline-primary"
                                        (click)="editEmployee(mymodal, mydata)"><i class="nav-icon fas fa-edit"></i> Edit</button></td>

                                    <td *ngIf="showDeleteEmployee"><button (click)="deleteEmployee(mydata.id)"
                                            class="btn btn-sm btn-danger"><i class="nav-icon far fa-trash-alt"></i> Delete</button></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="login-remeber">
                        <a href="#" (click)="addEmployee(mymodal)" style="margin-left: 20px">Add Employee</a>
                    </div> -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer" *ngIf="apidataEmpty">
                    <button *ngIf="showCreateSchedule" type="submit" (click)="forwardSchedule(schedulemodal)"
                        class="btn btn button-login"><i class="fas fa-plus-square"></i> Create Schedule</button>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Employee Details</h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit(addEmployeeForm.value)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="titleId">Title</label>
                        <select type="text" name="titleId" formControlName="titleId" id="titleId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.titleId.errors }">
                            <option value="">-- Select Title --</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss.">Miss.</option>
                            <!-- <option *ngFor="let taxPayerType of taxPayerTypes" [value]="taxPayerType.id">
                                                {{ taxPayerType.name }}
                            </option> -->
                        </select>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.titleId.errors" class="text-danger">
                            <!-- <div *ngIf="addEmployeeForm.controls.titleId.errors.required">Title is required</div> -->
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="firstName">First Name<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="firstName" class="form-control" placeholder="First Name"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.firstName.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.firstName.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.firstName.errors.required">First Name is required</div>
                            <!-- <div *ngIf="addEmployeeForm.controls.firstName.errors.minlength">Confirm Password must be at least 6 characters long.</div> -->
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="surname">Surname<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="surname" class="form-control" placeholder="Surname"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.surname.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.surname.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.surname.errors.required">Surname is required</div>
                            <!-- <div *ngIf="addEmployeeForm.controls.surname.errors.minlength">New Password  must be at least 6 characters long</div> -->
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="emailAddress">Email Address<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="emailAddress" class="form-control"
                            placeholder="Email Address"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.emailAddress.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.emailAddress.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.emailAddress.errors.required">Email Address is required
                            </div>
                            <div *ngIf="addEmployeeForm.controls.emailAddress.errors.minlength">Email Address must not
                                be more than 60 characters long.</div>
                            <div *ngIf="addEmployeeForm.controls.emailAddress.errors.email">Provide valid Email address
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="phoneNumber">Phone Number<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.phoneNumber.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.phoneNumber.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.required">Phone Number is required
                            </div>
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.minlength">Phone Number must be at
                                least 10 characters long.</div>
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.maxlength">Phone Number must be 10
                                Digit Long.</div>
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.pattern">Phone Number must be Number
                                Only</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="employeeTIN">Employee TIN<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="employeeTIN" class="form-control" placeholder="Employee TIN"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.employeeTIN.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.employeeTIN.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.employeeTIN.errors.required">Employee TIN is required
                            </div>
                            <!-- <div *ngIf="addEmployeeForm.controls.employeeTIN.errors.minlength">Confirm Password must be at least 6 characters long.</div> -->
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="BVN">BVN<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="BVN" class="form-control" placeholder="BVN"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.BVN.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.BVN.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.BVN.errors.required">BVN is required</div>
                            <div *ngIf="addEmployeeForm.controls.BVN.errors.minlength">BVN must be at least 13
                                characters long.</div>
                            <div *ngIf="addEmployeeForm.controls.BVN.errors.maxlength">BVN must be 13 Digit Long.</div>
                            <div *ngIf="addEmployeeForm.controls.BVN.errors.pattern">BVN must be Number Only</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="taxMonthId">Tax Month<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <select type="text" name="taxMonthId" formControlName="taxMonthId" id="taxMonthId"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.taxMonthId.errors }">
                            <option value="">-- Select Tax Month --</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">Septempter</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <!-- <option *ngFor="let taxPayerType of taxPayerTypes" [value]="taxPayerType.id">
                                                {{ taxPayerType.name }}
                            </option> -->
                        </select>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.taxMonthId.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.taxMonthId.errors.required">Tax Month is
                                required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="taxYear">Tax Year<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="taxYear" class="form-control" placeholder="Tax Year Eg: 2019"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.taxYear.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.taxYear.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.taxYear.errors.required">Tax Year is required</div>
                            <div *ngIf="addEmployeeForm.controls.taxYear.errors.minlength">Tax Year must be at least 4
                                characters long.</div>
                            <div *ngIf="addEmployeeForm.controls.taxYear.errors.maxLength">Tax Year must be 4 characters
                                long.</div>
                            <div *ngIf="addEmployeeForm.controls.taxYear.errors.pattern">Tax Year must be Number Only
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="grossIncome">Gross Income<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="grossIncome" class="form-control" placeholder="Gross Income"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.grossIncome.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.grossIncome.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.grossIncome.errors.required">Gross Income is required
                            </div>
                            <div *ngIf="addEmployeeForm.controls.grossIncome.errors.pattern">Gross must be Number Only
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pension">Pension<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="pension" class="form-control" placeholder="Pension"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.pension.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.pension.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.pension.errors.required">Pension is required</div>
                            <div *ngIf="addEmployeeForm.controls.pension.errors.pattern">Pension must be Number Only
                            </div>
                            <!-- <div *ngIf="addEmployeeForm.controls.pension.errors.minlength">Confirm Password must be at least 6 characters long.</div> -->
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="CRA">Consolidated Relief Allowance<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="CRA" class="form-control"
                            placeholder="Consolidated Relief Allowance"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.CRA.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.CRA.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.CRA.errors.required">Consolidated Relief Allowance is
                                required</div>
                            <div *ngIf="addEmployeeForm.controls.CRA.errors.pattern">Consolidated Relief Allowance must
                                be Number Only</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="NHIS">National Health Insurance Scheme</label>
                        <input type="text" formControlName="NHIS" class="form-control"
                            placeholder="National Health Insurance Scheme"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.NHIS.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.NHIS.errors" class="text-danger">
                            <!-- <div *ngIf="addEmployeeForm.controls.NHIS.errors.required">National Health Insurance Scheme is required</div> -->
                            <div *ngIf="addEmployeeForm.controls.NHIS.errors.pattern">National Health Insurance Scheme
                                must be Number Only</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="NHF">National Housing Fund</label>
                        <input type="text" formControlName="NHF" class="form-control"
                            placeholder="National Housing Fund"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.NHF.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.NHF.errors" class="text-danger">
                            <!-- <div *ngIf="addEmployeeForm.controls.NHF.errors.required">National Housing Fund is required</div> -->
                            <div *ngIf="addEmployeeForm.controls.NHF.errors.pattern">National Housing Fund must be
                                Number Only</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="otherIncome">Other Income</label>
                        <input type="text" formControlName="otherIncome" class="form-control" placeholder="Other Income"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.otherIncome.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.otherIncome.errors"
                            class="text-danger">
                            <!-- <div *ngIf="addEmployeeForm.controls.otherIncome.errors.required">Other Income required</div> -->
                            <div *ngIf="addEmployeeForm.controls.otherIncome.errors.pattern">Other Income must be Number
                                Only</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="startMonthId">Start Month<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <select type="text" name="startMonthId" formControlName="startMonthId" id="startMonthId"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.startMonthId.errors }">
                            <option value="">-- Select Tax Month --</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">Septempter</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <!-- <option *ngFor="let taxPayerType of taxPayerTypes" [value]="taxPayerType.id">
                                                {{ taxPayerType.name }}
                            </option> -->
                        </select>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.startMonthId.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.startMonthId.errors.required">Start Month is required
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="designation">Designation<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="designation" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.designation.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.designation.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.designation.errors.required">Designation is
                                required</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="annualBasic">Annual Basic<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="annualBasic" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.annualBasic.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.annualBasic.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.annualBasic.errors.required">Annual Basic is required</div>
                            <div *ngIf="addEmployeeForm.controls.annualBasic.errors.pattern">Annual Basic must be Number Only</div>                         
                        </div>
                    </div>
                </div> -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nationality">Nationality<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="nationality" class="form-control" placeholder="Nationality"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.nationality.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.nationality.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.nationality.errors.required">Nationality is required
                            </div>
                            <!-- <div *ngIf="addEmployeeForm.controls.pension.errors.minlength">Confirm Password must be at least 6 characters long.</div> -->
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="zipCode">Zip Code</label>
                        <input type="text" formControlName="zipCode" class="form-control" placeholder="Zip Code"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.zipCode.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.zipCode.errors" class="text-danger">
                            <!-- <div *ngIf="addEmployeeForm.controls.zipCode.errors.required">Zip Code is required</div> -->
                            <div *ngIf="addEmployeeForm.controls.zipCode.errors.pattern">Zip Code must be Number Only
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="NSIRSTaxPayerID">NSIRS Tax Payer ID</label>
                        <input type="text" formControlName="NSIRSTaxPayerID" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.NSIRSTaxPayerID.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.NSIRSTaxPayerID.errors"
                            class="text-danger">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="designation">Designation<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="designation" class="form-control" placeholder="Designation"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.designation.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.designation.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.designation.errors.required">Designation is
                                required</div>
                        </div>
                    </div>
                </div>

                <button *ngIf="showSaveEmployee" type="submit" class="btn btn button-login"><i class="far fa-save"></i> Save Employee</button>
            </form>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #schedulemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Forward Schedule</h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <form [formGroup]="forwardScheduleForm" (ngSubmit)="onSubmitSchedule(forwardScheduleForm.value)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="scheduleYear">Schedule Year<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="scheduleYear" class="form-control"
                            placeholder="Schedule Year Eg: 2019"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardScheduleForm.controls.scheduleYear.errors }" />
                        <div *ngIf="submitted &amp;&amp; forwardScheduleForm.controls.scheduleYear.errors"
                            class="text-danger">
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.required">Schedule Year is
                                required</div>
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.minlength">Schedule Year must
                                be at least 4 characters long.</div>
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.maxLength">Schedule Year must
                                be 4 characters long.</div>
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.pattern">Schedule Year must be
                                Number Only</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="scheduleMonthId">Schedule Month<sup
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <select type="text" name="scheduleMonthId" formControlName="scheduleMonthId"
                            id="scheduleMonthId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardScheduleForm.controls.scheduleMonthId.errors }">
                            <option value="">-- Select Tax Month --</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">Septempter</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <!-- <option *ngFor="let taxPayerType of taxPayerTypes" [value]="taxPayerType.id">
                                                {{ taxPayerType.name }}
                            </option> -->
                        </select>
                        <div *ngIf="submitted &amp;&amp; forwardScheduleForm.controls.scheduleMonthId.errors"
                            class="text-danger">
                            <div *ngIf="forwardScheduleForm.controls.scheduleMonthId.errors.required">Schedule Month is
                                required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="comment">Comment<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <textarea type="text" formControlName="comment" class="form-control" rows="4"
                            placeholder="Comment"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardScheduleForm.controls.comment.errors }"></textarea>
                        <div *ngIf="submitted &amp;&amp; forwardScheduleForm.controls.comment.errors"
                            class="text-danger">
                            <div *ngIf="forwardScheduleForm.controls.comment.errors.required">Comment is required</div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn button-login"><i class="far fa-save"></i> Save Schedule</button>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>