<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
  
    </div>
    <!-- /.content-header -->
 
    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">

        
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header row custome">
            <div class="col-md-8">
              <h3 class="card-title">Manage Users </h3>

            </div>
            <div class="col-md-4"><button class="btn btn-block btn button-login" (click)="viewActivationModal(activationModal)">New Staff</button></div>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
  
            <div class="page-header">
              <h3> </h3>
            </div>
           <div class="over-auto">
              
            <table class="table table-bordered table-condensed" *ngIf="apidata; else content" datatable [dtOptions]="dtOptions" width="100%">
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>Name</th>  
                    <th>Role Name</th>
                    <th>Created Date</th>
                    <th >Status</th>
                    <th >Action</th> 
                   
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let mydata of apidata ; index as i">
                    <td>{{i+1}}</td>
                    <td>{{ mydata.name | titlecase}}</td> 
                    <td> {{mydata.role}}
                    </td>
                    <td>{{ mydata.registrationDate | date:'MMM d, y' }}</td>
                    
                    <td >
                     {{mydata.role | titlecase}}
                    
                    </td>

                    <td >  
                          <button *ngIf="mydata?.role == 'Admin'" class="btn btn-success pointer" (click)="userToStaff(mydata?.userId)">Update User</button>
                          <button *ngIf="mydata?.role == 'Staff'" class="btn btn-primary pointer" (click)="userToAdmin(mydata?.userId)">Update User</button>
                        
                    </td>

 
    
                  </tr>
                </tbody>
              </table>
  
              <ng-template #content > <p style="color: red;" > </p></ng-template>
              </div>
  
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
  
          </div>
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


  <ng-template #activationModal let-modal>
    <div   class="validate-form m-5 p-5">
      <p class="login-box-msg bold-black"> Provide new Staff email</p>

      <form [formGroup]="activationForm" (ngSubmit)="onSubmit(activationForm.value)">

        <!-- <div class=""> -->


        <div class="input-group mb-2">
          <input type="email" class="form-control" placeholder="Email Address" formControlName="emailAddress"
            [ngClass]="{ 'is-invalid': submitted &amp;&amp; activationForm.controls.emailAddress.errors }">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div *ngIf="submitted &amp;&amp; activationForm.controls.emailAddress.errors" class="text-danger validation-error">
          <div *ngIf="activationForm.controls.emailAddress.errors.required">Email is required</div>
          <div *ngIf="activationForm.controls.emailAddress.errors.pattern">Email must be a valid email</div>
          <div *ngIf="activationForm.controls.emailAddress.errors.maxlength">Email must be under 45 characters</div>
        </div>
        <button class="btn btn-block btn button-login mt-4" >
          Submit
        </button>
      </form>
    </div>
  </ng-template>
