<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" data-select2-id="32">
        <div class="container-fluid" data-select2-id="31">
            <flash-messages></flash-messages>
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-secondary">
                <div class="card-header custome">
                    <h3 class="card-title">Monthly Remittance Assessments</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div>
                        <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
                        <table class="table table-bordered table-condensed" *ngIf="assessmentsData;" datatable
                            [dtOptions]="dtOptions" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Date Generated</th>
                                    <th>Invoice ID</th>
                                    <th>Tax Year</th>
                                    <th>Tax Month</th>
                                    <th>Employees Count</th>
                                    <!-- <th>Due Date</th> -->
                                    <th>Total Monthly Tax</th>
                                    <th>Status</th>
                                    <!-- <th>Status</th> -->
                                    <!-- <th>Corporate ID</th> -->
                                    <th style="width: 10%">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mydata of assessmentsData; index as i">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ mydata.created_at | date:'MMM d, y, h:mm:ss a' }}</td>
                                    <td>{{ mydata.assessment_id }}</td>

                                    <td>{{ getTaxYear(mydata.due_date) }}</td>
                                    <td>{{ getTaxMonth(mydata.due_date) }}</td>
                                    <td>{{ getEmployeesCount(mydata.assessment_records) | number}}</td>
                                    <!-- <td>{{ mydata.due_date | date }}</td> -->
                                    <td>{{ mydata.monthly_tax_due | number }}</td>
                                    <td>{{ mydata.status == 0 ? "In Active" : "Active" }}</td>
                                    <!-- <td>{{ mydata.status }}</td> -->
                                    <!-- <td>{{ mydata.corporate_id }}</td> -->

                                    <td style="width: 10%">
                                        <button class="btn btn-sm btn-outline-primary"
                                            (click)="viewAssessment(mymodal, mydata)"><i class="nav-icon fas fa-eye"></i> View
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <!-- <button type="submit" (click)="forwardSchedule(schedulemodal)" class="btn btn button-login">Forward
                        Schedule</button> -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<ng-template #mymodal let-modal>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-outline-dark button-login float-right" style="margin: 10px 10px;" printSectionId="printAssessment" ngxPrint
            [useExistingCss]="true"><i class="fas fa-print"></i> Print Assessment</button>

            <a type="button" *ngIf="previewInvoice" href="{{apiInvoice}}" target="_blank" class="btn btn-outline-dark button-login float-right" style="margin: 10px 5px;" printSectionId="printInvoice" ngxPrint
            ><i class="fas fa-file-alt"></i> Print Invoice</a>
            <button type="button" *ngIf="processInvoiceBtn" (click)="processInvoice()" class="btn btn-outline-dark button-login float-right" style="margin: 10px 10px;" printSectionId="printAssessment"
            ><i class="fas fa-file-invoice"></i> Process to Invoice</button>
        </div>
    </div>

    <div id="printAssessment">
        <div class="modal-header">
            <div class="col-md-4" style="margin: 15px 0px;">
                <img src="{{ corporateLogo }}" class="rounded" alt="Corporate Logo"
                    style="height:90px; width: 90px;">
            </div>

            <div class="col-md-8">
                <h4 class="modal-title" id="modal-basic-title">Assessment Details</h4>
            </div>

            <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
        </div>

        <div class="modal-body">
            <div class="container">

                <div class="form-row">
                    <div class="col-md-12">
                        <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
                    </div>
                </div>

                <form [formGroup]="assessmentForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="dateGenerated">Date Generated</label>
                            <input type="text" formControlName="dateGenerated" class="form-control"
                                [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.dateGenerated.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="dueDate">Due Date</label>
                            <input type="text" formControlName="dueDate" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.dueDate.errors }" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="companyName">Company Name</label>
                            <input type="text" formControlName="companyName" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.companyName.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="cacNumber">CAC Number</label>
                            <input type="text" formControlName="cacNumber" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.cacNumber.errors }" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="taxPayerID">Tax Payer ID</label>
                            <input type="text" formControlName="taxPayerID" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.taxPayerID.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" formControlName="phoneNumber" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.phoneNumber.errors }" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="totalMonthlyTax">Total Monthly Tax</label>
                            <input type="text" formControlName="totalMonthlyTax" class="form-control"
                                [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.totalMonthlyTax.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="assessmentStatus">Assessment Status</label>
                            <input type="text" formControlName="assessmentStatus" class="form-control"
                                [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.assessmentStatus.errors }" />
                        </div>
                    </div>

                    <!-- <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="status">Status</label>
                            <input type="text" formControlName="status" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.status.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="corporateId">Corporate ID</label>
                            <input type="text" formControlName="corporateId" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.corporateId.errors }" />
                        </div>
                    </div> -->
                </form>

                <div class="over-auto">
                    <p class="text-center"><b>{{assessmentMonth | uppercase}} {{assessmentYear}} PAYE TAX ANALYSIS</b></p>
                    <table class="table table-bordered table-condensed" *ngIf="assessmentEmployeesData;" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Tax Payer ID</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Gross Income</th>
                                <th>CRA</th>
                                <th>Pension</th>
                                <th>NHF</th>
                                <th>NHIS</th>
                                <th>Non Taxable Income</th>
                                <th>Taxable Income</th>
                                <th>Monthly Tax</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mydata of assessmentEmployeesData ; index as i">
                                <td>{{ i + 1 }}</td>
                                <td>{{ mydata.employee.taxpayer_id}}</td>

                                <td>{{ mydata.employee.first_name }}</td>
                                <td>{{ mydata.employee.last_name }}</td>
                                <td>{{ mydata.gross_income | number }}</td>
                                <td>{{ mydata.cra | number }}</td>
                                <td>{{ mydata.pension | number }}</td>
                                <td>{{ mydata.nhf | number }}</td>
                                <td>{{ mydata.nhis | number }}</td>
                                <td>{{ mydata.nontaxable_income | number }}</td>
                                <td>{{ mydata.taxable_income | number }}</td>
                                <td>{{ mydata.monthly_tax_due | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div id="printInvoice" style="display: none;">
        <div class="modal-header">
            <div class="col-md-4" style="margin: 15px 0px;">
                <img src="{{ corporateLogo }}" class="rounded" alt="Corporate Logo"
                    style="height:90px; width: 90px;">
            </div>

            <div class="col-md-8">
                <h4 class="modal-title" id="modal-basic-title">Invoice Details</h4>
            </div>

        </div>

        <div class="modal-body">
            <div class="container">

                <div class="form-row">
                    <div class="col-md-12">
                        <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
                    </div>
                </div>

                <form [formGroup]="assessmentForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="dateGenerated">Date Generated</label>
                            <input type="text" formControlName="dateGenerated" class="form-control"
                                [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.dateGenerated.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="dueDate">Due Date</label>
                            <input type="text" formControlName="dueDate" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.dueDate.errors }" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="companyName">Company Name</label>
                            <input type="text" formControlName="companyName" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.companyName.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="cacNumber">CAC Number</label>
                            <input type="text" formControlName="cacNumber" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.cacNumber.errors }" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="taxPayerID">Tax Payer ID</label>
                            <input type="text" formControlName="taxPayerID" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.taxPayerID.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" formControlName="phoneNumber" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.phoneNumber.errors }" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="totalMonthlyTax">Total Monthly Tax</label>
                            <input type="text" formControlName="totalMonthlyTax" class="form-control"
                                [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.totalMonthlyTax.errors }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="assessmentStatus">Assessment Status</label>
                            <input type="text" formControlName="assessmentStatus" class="form-control"
                                [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.assessmentStatus.errors }" />
                        </div>
                    </div>

                </form>

                <div>
                    <h5 class="login-box-msg" style="margin: 15px 0px;">Payment Details</h5>

                    <table class="table table-bordered table-condensed" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Service Description</th>
                                <th>Amount Due</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>PAYE Assessment for {{ assessmentMonth }} {{ assessmentYear }}</td>
                                <td>₦ {{ totalMonthlyTaxDue | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span *ngIf="managerRole"> 
            <a type="button" *ngIf="paymentUrl" class="btn btn-outline-dark button-login"  target="_blank" href="{{apiPayment}}" (click)="modal.close('Save click')"><i class="fas fa-credit-card"></i> Pay</a>
        </span>
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>

</ng-template>
