<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" data-select2-id="32">
        <div class="container-fluid" data-select2-id="31">
            <flash-messages></flash-messages>
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-secondary">
                <div class="card-header custome">
                    <h3 class="card-title">Monthly Remittance Schedules</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="over-auto">
                        <table class="table table-bordered table-condensed" *ngIf="schedulesData;" datatable
                            [dtOptions]="dtOptions" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Forwarded To</th>
                                    <th>Date Forwarded</th>
                                    <th>Due Date</th>
                                    <!-- <th style="width: 8%">Gross Income</th> -->
                                    <th>Assessment Status</th>
                                    <th>Status</th>
                                    <th>Date Created</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mydata of schedulesData; index as i">
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                        {{ mydata.forwarded_to == 0 ? "Not forwaded" : mydata.forwarded_to == 1 ? "Forwarded to Editor" : "Forwarded to Manager" }}
                                    </td>

                                    <td>{{ mydata.date_forwarded | date }}</td>
                                    <td>{{ mydata.due_date | date }}</td>
                                    <td>{{ mydata.assessment_status == 0 ? "Still Open" : "Case Closed" }}</td>
                                    <td>{{ mydata.status == 0 ? "In Active" : "Active" }}</td>

                                    <td>{{ mydata.created_at | date:'MMM d, y, h:mm:ss a' }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-primary"
                                            (click)="viewSchedule(mymodal, mydata)"><i class="nav-icon fas fa-eye"></i>
                                            View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <!-- <button type="submit" (click)="forwardSchedule(schedulemodal)" class="btn btn button-login">Forward
                        Schedule</button> -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Schedule Details</h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <form [formGroup]="scheduleForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="forwardedTo">Forwarded To</label>
                        <input type="text" formControlName="forwardedTo" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.forwardedTo.errors }" />

                    </div>

                    <div class="form-group col-md-6">
                        <label for="assessmentStatus">Assessment Status</label>
                        <input type="text" formControlName="assessmentStatus" class="form-control"
                            [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.assessmentStatus.errors }" />

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dateForwarded">Date Forwarded</label>
                        <input type="text" formControlName="dateForwarded" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.dateForwarded.errors }" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="status">Status</label>
                        <input type="text" formControlName="status" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.status.errors }" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dueDate">Due Date</label>
                        <input type="text" formControlName="dueDate" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.dueDate.errors }" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="corporateId">Corporate ID</label>
                        <input type="text" formControlName="corporateId" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.corporateId.errors }" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="createdAt">Created At</label>
                        <input type="text" formControlName="createdAt" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.createdAt.errors }" />
                    </div>

                    <!-- <div class="form-group col-md-6">
                        <label for="comment">Comment</label>
                        <input type="text" formControlName="scheduleYear" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls.scheduleYear.errors }" />
                    </div> -->
                </div>

                <!-- <button type="submit" class="btn btn button-login">Save Schedule</button> -->
            </form>

            <div>
                <table class="table table-bordered table-condensed" datatable *ngIf="scheduleEmployeesData;"
                    [dtOptions]="dtOptions" width="100%">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Employee Name</th>
                            <th>Gross Income</th>
                            <th>NHIS</th>
                            <th>NHF</th>
                            <th>Pension</th>
                            <th>CRA</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mydata of scheduleEmployeesData; index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ mydata.first_name | titlecase }} {{ mydata.last_name | titlecase}}</td>

                            <td>{{ mydata.gross_income | number }}</td>
                            <td>{{ mydata.nhis | number }}</td>

                            <td>{{ mydata.nhf | number }}</td>
                            <td>{{ mydata.pension | number }}</td>
                            <td>{{ mydata.cra | number }}</td>
                            <td>{{ mydata.created_at | date:'MMM d, y, h:mm:ss a' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button *ngIf="managerRole" type="submit" (click)="forwardSchedule(schedulemodal)"
            class="btn btn button-login"><i class="fas fa-backward"></i> Back to Editor</button>
            <button *ngIf="editorRole" type="submit" (click)="forwardSchedule(schedulemodal)" [disabled]="forwardedTrue"
            class="btn btn button-login"><i class="fas fa-forward"></i> Forward to Manager</button>
        <button *ngIf="showGenerateAssessment" type="submit" (click)="generateAssessment(assessmentmodal)" [disabled]="assessmentStatusTrue"
            class="btn btn button-login"><i class="far fa-share-square"></i> Generate Assessment</button>
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #schedulemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Forward Schedule</h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <form [formGroup]="forwardScheduleForm" (ngSubmit)="onSubmitSchedule(forwardScheduleForm.value)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="scheduleYear">Schedule Year</label>
                        <input type="text" formControlName="scheduleYear" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardScheduleForm.controls.scheduleYear.errors }" />
                        <div *ngIf="submitted &amp;&amp; forwardScheduleForm.controls.scheduleYear.errors"
                            class="text-danger">
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.required">Schedule Year is
                                required</div>
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.minlength">Schedule Year must
                                be at least 4 characters long.</div>
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.maxLength">Schedule Year must
                                be 4 characters long.</div>
                            <div *ngIf="forwardScheduleForm.controls.scheduleYear.errors.pattern">Schedule Year must be
                                Number Only</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="scheduleMonthId">Schedule Month</label>
                        <select type="text" name="scheduleMonthId" formControlName="scheduleMonthId"
                            [attr.disabled]="true" id="scheduleMonthId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardScheduleForm.controls.scheduleMonthId.errors }">
                            <option value="">-- Select Tax Month --</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">Septempter</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <!-- <option *ngFor="let taxPayerType of taxPayerTypes" [value]="taxPayerType.id">
                                                {{ taxPayerType.name }}
                            </option> -->
                        </select>
                        <div *ngIf="submitted &amp;&amp; forwardScheduleForm.controls.scheduleMonthId.errors"
                            class="text-danger">
                            <div *ngIf="forwardScheduleForm.controls.scheduleMonthId.errors.required">Schedule Month is
                                required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="comment">Comment</label>
                        <textarea type="text" formControlName="comment" class="form-control" rows="4"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardScheduleForm.controls.comment.errors }"></textarea>
                        <div *ngIf="submitted &amp;&amp; forwardScheduleForm.controls.comment.errors"
                            class="text-danger">
                            <div *ngIf="forwardScheduleForm.controls.comment.errors.required">Comment is required
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn button-login"><i class="far fa-save"></i> Save Schedule</button>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #assessmentmodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Generate Assessment</h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <form [formGroup]="assessmentForm" (ngSubmit)="onSubmitAssessment(assessmentForm.value)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="assessmentYear">Assessment Year</label>
                        <input type="text" formControlName="assessmentYear" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.assessmentYear.errors }" />
                        <div *ngIf="submitted &amp;&amp; assessmentForm.controls.assessmentYear.errors"
                            class="text-danger">
                            <div *ngIf="assessmentForm.controls.assessmentYear.errors.required">Assessment Year is
                                required</div>
                            <div *ngIf="assessmentForm.controls.assessmentYear.errors.minlength">Assessment Year must
                                be at least 4 characters long.</div>
                            <div *ngIf="assessmentForm.controls.assessmentYear.errors.maxLength">Assessment Year must
                                be 4 characters long.</div>
                            <div *ngIf="assessmentForm.controls.assessmentYear.errors.pattern">Assessment Year must be
                                Number Only</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="assessmentMonthId">Assessment Month</label>
                        <select type="text" name="assessmentMonthId" formControlName="assessmentMonthId"
                            id="assessmentMonthId" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls.assessmentMonthId.errors }">
                            <option value="">-- Select Tax Month --</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">Septempter</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <!-- <option *ngFor="let taxPayerType of taxPayerTypes" [value]="taxPayerType.id">
                                                {{ taxPayerType.name }}
                            </option> -->
                        </select>
                        <div *ngIf="submitted &amp;&amp; assessmentForm.controls.assessmentMonthId.errors"
                            class="text-danger">
                            <div *ngIf="assessmentForm.controls.assessmentMonthId.errors.required">Assessment Month is
                                required</div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn button-login"><i class="far fa-share-square"></i> Generate Assessment</button>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>