<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">

  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31"> 
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-secondary">
              <div class="card-header row custome">
                <div class="col-md-8">
                  <h3 class="card-title">Sample Templates </h3>

                </div> 
            <div class="col-md-4">
              <button class="btn btn-block btn button-login" (click)="viewAddSampleTemplate(addSampleTemplateModal)">
                New Template</button></div>

              </div>
              <!-- /.card-header -->
              <div class="card-body">

                  <div>
                      <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
                      <table class="table table-bordered table-condensed" *ngIf="sampletemplatesData;" datatable
                          [dtOptions]="dtOptions" width="100%">
                          <thead>
                              <tr>
                                  <th>S/N</th>
                                  <th>Name</th>
                                  <th>Sample Type</th>   3
                                  <th>Number of Tests</th> 
                                  <th  >Details</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let mydata of sampletemplatesData; index as i">
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ mydata.name | titlecase }}</td>
                                  <td>{{ mydata.sampleType == 0 ? 'Field Sampling' : 'Lab Test' }}</td> 
                                  <td>{{ mydata.testTemplates.length }}</td> 
                                  <td style="width: 10%">
                                      <button class="btn btn-sm btn-outline-primary"
                                          (click)="viewSingleSample(mymodal, mydata)"><i class="nav-icon fas fa-eye"></i> View
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <!-- <button type="submit" (click)="forwardSchedule(schedulemodal)" class="btn btn button-login">Forward
                      Schedule</button> -->
              </div>
          </div>

      </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<ng-template #mymodal let-modal >
  <div   class="validate-form mt-2">
    <div class="card-header">
      <h4 class=" bold-black">Selected Sample Template</h4>

    </div>

    <div class="mt-2 ml-3 mb-4" *ngIf="singleSampleName">
      <h4>{{singleSampleName}} : {{singleSampleType === "1" ? '   (Field Sampling)' : '   (Lab Test)'}}</h4>

      <div class=" ml-4 mb-4">
        <form [formGroup]="updateSampleTemplateForm" (ngSubmit)="onUpdateSample(updateSampleTemplateForm.value)">
          <div class="row mt-4">
            <div class="form-group mb-2 col-md-5">
              <input type="text" class="form-control" placeholder="Sample Name" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; updateSampleTemplateForm.controls.name.errors }">
               
                <div *ngIf="submitted &amp;&amp; updateSampleTemplateForm.controls.name.errors" class="text-danger validation-error">
                  <div *ngIf="updateSampleTemplateForm.controls.name.errors.required">Name is required</div> 
                </div>
            </div>
            <div class="form-group col-md-5 mb-2">
              <select type="" class="form-control" placeholder="" formControlName="sampleType"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; updateSampleTemplateForm.controls.sampleType.errors }">
                <option>Select Sample Type</option>
                <option value="0">Field Sampling</option>
                <option value="1">Lab Test</option>
                </select>
                <div *ngIf="submitted &amp;&amp; updateSampleTemplateForm.controls.sampleType.errors" class="text-danger validation-error">
                  <div *ngIf="updateSampleTemplateForm.controls.sampleType.errors.required">Sample Type is required</div> 
                </div>
               
            </div>
      
            <button class="btn  button-login " >
              Submit
            </button>
    
          </div>
        </form>
  
      </div>
    </div> 
 
    <div class="card-body m-4 shadow border " *ngIf="testTemplate"> 
        <div > 
          <table class="table table-bordered table-condensed" *ngIf="testTemplate;" width="100%">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Test Name</th> 
                    <th>Test limit</th>     
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let test of testTemplate; index as i">
                    <td>{{ i + 1 }}</td>
                    <td  >{{ test.name }}</td> 
                    <td>{{ test.limit }}</td> 
                     
                </tr>
            </tbody>
        </table>  
 
        </div> 
      <!-- <a class="btn button-login mb-3" (click)="updateSampleTemplate()">
        Submit
        </a> -->
    </div>
  </div>
</ng-template>

<ng-template #addSampleTemplateModal let-modal >
  <div   class="validate-form mt-2">
    <div class="card-header">
      <h4 class=" bold-black"> Sample Templates</h4>

    </div>

    <div class="mt-2 ml-3 mb-4" *ngIf="sampleName">
      <h4>{{sampleName}} : {{sampleType === "1" ? '   (Field Sampling)' : '   (Lab Test)'}}</h4>

    </div>
    <div class=" ml-4 mb-4" *ngIf="showSampleForm">
      <form [formGroup]="sampleTemplateForm" (ngSubmit)="onSubmitSample(sampleTemplateForm.value)">
        <div class="row mt-4">
          <div class="form-group mb-2 col-md-5">
            <input type="text" class="form-control" placeholder="Sample Name" formControlName="name"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; sampleTemplateForm.controls.name.errors }">
             
              <div *ngIf="submitted &amp;&amp; sampleTemplateForm.controls.name.errors" class="text-danger validation-error">
                <div *ngIf="sampleTemplateForm.controls.name.errors.required">Name is required</div> 
              </div>
          </div>
          <div class="form-group col-md-5 mb-2">
            <select type="" class="form-control" placeholder="" formControlName="sampleType"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; sampleTemplateForm.controls.sampleType.errors }">
              <option>Select Sample Type</option>
              <option value="1">Field Sampling</option>
              <option value="2">Lab Test</option>
              </select>
              <div *ngIf="submitted &amp;&amp; sampleTemplateForm.controls.sampleType.errors" class="text-danger validation-error">
                <div *ngIf="sampleTemplateForm.controls.sampleType.errors.required">Sample Type is required</div> 
              </div>
             
          </div>
    
          <button class="btn  button-login " >
            Submit
          </button>
  
        </div>
      </form>

    </div>

    <div class="ml-4 mb-4" *ngIf="showTestForm">
      <form [formGroup]="testsForm" (ngSubmit)="onSubmitTest(testsForm.value)">
        <div class="row mt-4">
          <div class="form-group mb-2 col-md-5">
            <input type="text" class="form-control" placeholder="Test Name" formControlName="name"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; testsForm.controls.name.errors }">
             
              <div *ngIf="submitted &amp;&amp; testsForm.controls.name.errors" class="text-danger validation-error">
                <div *ngIf="testsForm.controls.name.errors.required">Name is required</div> 
              </div>
          </div>
          <div class="form-group col-md-5 mb-2">
            <input type="text" class="form-control" placeholder="Test Limit" formControlName="limit"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; testsForm.controls.limit.errors }">
               
              <div *ngIf="submitted &amp;&amp; testsForm.controls.limit.errors" class="text-danger validation-error">
                <div *ngIf="testsForm.controls.limit.errors.required">Test Limit is required</div> 
              </div>
             
          </div>
    
          <button class="btn btn button-login " >
            Add
          </button>
  
        </div>
      </form>

    </div>

    <div class="card-body m-4 shadow border " *ngIf="testdata.length > 0"> 

        <div> 
          <table class="table table-bordered table-condensed" *ngIf="testdata;" width="100%">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Test Name</th> 
                    <th>Test limit</th>   
                    <td>Delete</td>  
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let test of testdata; index as i">
                    <td>{{ i + 1 }}</td>
                    <td  >{{ test.name }}</td> 
                    <td>{{ test.limit }}</td> 
                     <td><a (click)="deleteTest(test.name)"
                      class="badge badge-danger Delete-icon   pointer color-white delete-box" style="cursor:pointer;">
                      Delete <i class="nav-icon ml-3 fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
        </table>  
 
        </div> 
      <a class="btn button-login mb-3" (click)="createSampleTemplate()">
        Submit
        </a>
      <button type="button" class="btn button-login float-right mb-3" id="dismissBtn" (click)="modal.close('Save click')">Cancel</button>

    </div>
  </div>
</ng-template>